/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*layout*/

.text-right{
    text-align: right;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.a-button{
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-color: #ffffff;
    color: #000000;
}

.black{
    background-color: #000000;
    color: #ffffff;
}

.mb-20{
    margin-bottom: 20px;
}

.margin{
    margin: 10px;
}

.padding-title{
    padding: 40px 80px;
}

.padding-p{
    padding: 0 80px;
}

.align-centre{
    text-align: center;
}

.wrap{
    flex-wrap: wrap;
    justify-content: center;
}

.margin-img{
    margin: 10px 0 10px 50px;
}

.viola{
    background-color: #7389da;
    color: #ffffff;
}

.margin-button{
    margin: 70px;
}

.viola-footer{
   color: #7389da;
}

.img-dim{
    width: 20px;
    height: 10px;
}

.wave{
    width: 100%;
    display: block;
}

.rotate{
    transform: rotate(180deg);
}

/*HEADER*/
.header{
    background-color: #265ee9;
    color: #ffffff;
}

.section{
    padding: 20px 0;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row{
    display: flex;
    align-items: center;
}

.col-20{
    width: 20%;
}

.col-60{
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/*MAIN*/
.hero{
    padding: 20px;
    background-color: #265ee9;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-container{
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.section-1-3{
    padding: 20px;
}

.section-footer-container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row-section-footer{
    display: flex;
}

.col-60-2{
    width: 60%;
}

.col-40{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.section-2-4{
    padding: 20px;
    background-color: #f6f6f6;
}

.section-4-container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.star{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: left;
}

/*FOOTER*/
.section-footer{
    padding: 10px 0 20px 0;
    background-color: #23272a;
    color: #ffffff;
}

.col-40-2{
    width: 40%;
}

.col-15{
    width: 15%;
}

.list{
    list-style: none;
}

li{
    margin: 10px;
}

.section-footer-2{
    padding: 20px 0 0 0;
    background-color: #23272a;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.container-footer-2{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row-footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.col-10{
    width: 10%;
}